body{
    background-color: aquamarine;
    margin-top: 50px;
}
.tdiv{
    border: 1px solid black;
}
td{
    height: 40px;
    text-align: left;
    padding: 10px;
}

#sfun {
    margin-left: 250px;
    border: 1px solid black;
}
